[KGameTheme]
VersionFormat=1
Name=Classic Theme
Description=The classic theme for KDiamond.
FileName=classic.svgz
Author=Felix Lemke
AuthorEmail=lemke.felix@ages-skripte.org
Preview=classic.png
