[KGameTheme]
VersionFormat=1
Name=Classic Theme
Description=The classic theme for KDiamond.
FileName=classic.svgz
Author=Felix Lemke
AuthorEmail=lemke.felix@ages-skripte.org
Preview=classic.png

# there is no animation at the moment, so do only try to load one frame; then fail and show an empty pixmap
RemoveAnimFrames=1
HasBorder=0
BorderPadding=0