[KGameTheme]
VersionFormat=1
Name=Classic Theme
Name[pt]=Tema Clássico
Name[pt_BR]=Tema Clássico
Name[uk]=Класична тема
Name[zh_TW]=傳統主題
Description=The classic theme for KDiamond.
Description[pt]=O tema clássico do KDiamond.
Description[pt_BR]=O tema clássico do KDiamond.
Description[uk]=Класична тема для КДіаманта.
Description[zh_TW]=KDiamond 寶石方塊傳統主題。
FileName=classic.svgz
Author=Felix Lemke
AuthorEmail=lemke.felix@ages-skripte.org
Preview=classic.png

# there is no animation at the moment, so do only try to load one frame; then fail and show an empty pixmap
RemoveAnimFrames=1
HasBorder=0
