[KGameTheme]
VersionFormat=1
Name=KDiamonds Default Theme
Name[pt]=Tema Predefinido do KDiamonds
Name[pt_BR]=Tema Predefinido do KDiamonds
Description=Default theme for KDiamond.
Description[pt]=O tema predefinido do KDiamond.
Description[pt_BR]=O tema predefinido do KDiamond.
FileName=default.svgz
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Preview=default.png

# number of frames in the "remove" animation
RemoveAnimFrames=7
# this theme has a border to display around the board
HasBorder=1
