[KGameTheme]
VersionFormat=1
Name=Egyptian
Name[uk]=Єгиптянин
Name[x-test]=xxEgyptianxx
Description=Egyptian style theme.
Description[uk]=Тема у єгипетському стилі.
Description[x-test]=xxEgyptian style theme.xx
FileName=egyptian.svgz
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Preview=egyptian_preview.png

# number of frames in the "remove" animation
RemoveAnimFrames=6
# this theme has a border to display around the board
HasBorder=1
# how many percent of each dimension of the board background contain the border graphics (0.05 means: the upper 5%, the lower 5%, the left 5%, and the right 5% of the board background are the border)
BorderPercentage=0.02
