[KGameTheme]
VersionFormat=1
Name=Diamonds
Name[bs]=Dijamanti
Name[ca]=Diamants
Name[ca@valencia]=Diamants
Name[cs]=Diamanty
Name[da]=Diamanter
Name[de]=Diamanten
Name[el]=Diamonds
Name[en_GB]=Diamonds
Name[es]=Diamantes
Name[et]=Teemandid
Name[fi]=Timantit
Name[fr]=Diamants
Name[ga]=Diamonds
Name[gl]=Diamantes
Name[hr]=Diamonds
Name[hu]=Gyémántok
Name[it]=Diamanti
Name[kk]=Гауһар тастар
Name[km]=ពេជ្រ
Name[lt]=Deimantai
Name[lv]=Dimanti
Name[nb]=Diamanter
Name[nds]=Diamanten
Name[nl]=Diamonds
Name[nn]=Diamantar
Name[pa]=ਹੀਰੇ
Name[pl]=Diamenty
Name[pt]=Diamantes
Name[pt_BR]=Diamantes
Name[ro]=Diamante
Name[ru]=Бриллианты
Name[sk]=Diamanty
Name[sl]=Diamanti
Name[sr]=Дијаманти
Name[sr@ijekavian]=Дијаманти
Name[sr@ijekavianlatin]=Dijamanti
Name[sr@latin]=Dijamanti
Name[sv]=Diamanter
Name[tr]=Diamonds
Name[ug]=ئالماسلار
Name[uk]=Діаманти
Name[x-test]=xxDiamondsxx
Name[zh_CN]=钻石
Name[zh_TW]=方塊
Description=A theme based on real looking diamonds.
Description[bs]=Tema bazirana na stvarnom izgledu dijamanata.
Description[ca]=Un tema basat en diamants d'aspecte real.
Description[ca@valencia]=Un tema basat en diamants d'aspecte real.
Description[da]=Et tema baseret på vellignende diamanter.
Description[de]=Ein auf echten Diamanten basierendes Design.
Description[el]=Ένα θέμα βασισμένο σε πραγματικό παρουσιαστικό διαμαντιών.
Description[en_GB]=A theme based on real looking diamonds.
Description[es]=Un tema basado en diamantes de apariencia real.
Description[et]=Ehtsate teemantidega teema.
Description[fi]=Teema, joka pohjautuu todellisten timanttien ulkonäköön.
Description[fr]=Un thème construit à partir de l'apparence des diamants.
Description[gl]=Un tema visual baseado en diamantes realistas.
Description[hu]=Téma valódi gyémántokkal.
Description[it]=Un tema con diamanti che sembrano veri.
Description[kk]=Шын гауһарлар көріністі нақыш
Description[km]=ស្បែក​ផ្អែក​ទៅ​លើ​ពេជ្រ​ដែល​មាន​លក្ខណៈ​ពិតៗ​​ ។
Description[lv]=Tēma, kas balstīta uz īstu dimantu izskatu.
Description[nb]=Tema med realistiske diamanter.
Description[nds]=En Muster, ut rejell Diamanten opbuut
Description[nl]=Een op echt uitziende diamanten gebaseerd thema.
Description[nn]=Tema med realistiske diamantar.
Description[pl]=Motyw bazujący na wyglądzie prawdziwych diamentów.
Description[pt]=Uma tema baseado em diamantes realistas.
Description[pt_BR]=Um tema baseado em diamantes reais.
Description[ro]=Tematică bazată pe diamante adevărate.
Description[ru]=Так выглядят настоящие бриллианты.
Description[sk]=Téma vytvorená na základe reálne vyzerajúcich diamantov.
Description[sl]=Tema, ki temelji na izgledu resničnih diamantov
Description[sr]=Тема заснована на уверљивим дијамантима.
Description[sr@ijekavian]=Тема заснована на увјерљивим дијамантима.
Description[sr@ijekavianlatin]=Tema zasnovana na uvjerljivim dijamantima.
Description[sr@latin]=Tema zasnovana na uverljivim dijamantima.
Description[sv]=Ett tema baserat på diamanter som ser äkta ut.
Description[tr]=Gerçek gibi elmaslar üzerine kurulmuş bir tema
Description[uk]=Тема, заснована на реалістичному вигляді діамантів.
Description[x-test]=xxA theme based on real looking diamonds.xx
Description[zh_CN]=基于真实钻石外观的主题。
Description[zh_TW]=像真的寶石的外觀主題
FileName=diamonds.svgz
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Preview=diamonds.png

# number of frames in the "remove" animation
RemoveAnimFrames=7
# this theme has a border to display around the board
HasBorder=1
# how many percent of each dimension of the board background contain the border graphics (0.05 means: the upper 5%, the lower 5%, the left 5%, and the right 5% of the board background are the border)
BorderPercentage=0.03
