[KGameTheme]
VersionFormat=1
Name=Diamonds
Name[es]=Diamantes
Name[nn]=Diamantar
Name[pt]=Diamantes
Name[pt_BR]=Diamantes
Name[sv]=Diamanter
Name[uk]=Діаманти
Name[x-test]=xxDiamondsxx
Name[zh_TW]=方塊
Description=A theme based on real looking diamonds.
Description[es]=Un tema basado en diamantes de apariencia real.
Description[nn]=Tema med realistiske diamantar.
Description[pt]=Uma tema baseado em diamantes realistas.
Description[pt_BR]=Um tema baseado em diamantes reais.
Description[sv]=Ett tema baserat på diamanter som ser äkta ut.
Description[uk]=Тема, заснована на реалістичному вигляді діамантів.
Description[x-test]=xxA theme based on real looking diamonds.xx
Description[zh_TW]=像真的寶石的外觀主題
FileName=diamonds.svgz
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Preview=diamonds.png

# number of frames in the "remove" animation
RemoveAnimFrames=7
# this theme has a border to display around the board
HasBorder=1
# how many percent of each dimension of the board background contain the border graphics (0.05 means: the upper 5%, the lower 5%, the left 5%, and the right 5% of the board background are the border)
BorderPercentage=0.03
