[KGameTheme]
VersionFormat=1
Name=Funny Zoo
Name[ca]=Zoo divertit
Name[da]=Funny Zoo
Name[de]=Tiervergnügen
Name[el]=Αστείος ζωολογικός κήπος
Name[en_GB]=Funny Zoo
Name[es]=Zoo divertido
Name[et]=Lõbus loomaaed
Name[eu]=Animali barregarriak
Name[ga]=Zú Greannmhar
Name[it]=Pazzo zoo
Name[km]=សួន​រីករាយ
Name[nds]=Kandidel Zoo
Name[nn]=Morosam dyrehage
Name[pt]=Zoo Engraçado
Name[pt_BR]=Zoológico engraçado
Name[ru]=Забавный зоопарк
Name[sl]=Smešen živalski vrt
Name[sr]=Смешни зоопарк
Name[sr@latin]=Smešni zoopark
Name[sv]=Rolig djurpark
Name[uk]=Веселий зоопарк
Name[x-test]=xxFunny Zooxx
Name[zh_CN]=快乐动物园
Name[zh_TW]=有趣動物園
Description=It is a fun time in the jungle! Help animals find their families. And watch out for those hard to find frogs.
Description[ca]=Es hora de divertir-se a la jungla! Ajuda als animals a trobar les seves famílies. I vigila amb aquestes granotes tan difícils de trobar.
Description[da]=Det er glade dage i junglen. Hjælp dyrene med at finde deres familier. Hold udkig efter de gemte frøer.
Description[de]=Eine spaßreiche Zeit im Dschungel. Helfen Sie den Tieren ihre Familien zu finden und achten Sie auf die schwer zu findenden Frösche.
Description[el]=Ένα διασκεδαστικό παιχνίδι στη ζούγκλα. Βοηθήστε τα ζώα να βρουν την οικογένειά τους. Βρείτε τα κρυμμένα βατραχάκια.
Description[en_GB]=It is a fun time in the jungle! Help animals find their families. And watch out for those hard to find frogs.
Description[es]=¡Diversión en la jungla! Ayuda a los animales a encontrar sus familias. Y cuidado con esas ranas tan difíciles de encontrar.
Description[et]=Džunglis on lõbus! Aita loomadel oma pere üles leida. Ja pane tähele harva esinevaid konni.
Description[eu]=Ondo ibili basoan! Lagundu animaliei haien familiak aurkitzen. Eta argi ibili aurkitzeko zailak diren igelekin.
Description[ga]=Craic sa dufair! Cabhraigh leis na hainmhithe a muintir a aimsiú. Agus bí ag fairís ar na froganna seachantacha sin.
Description[gl]=É hora de ser divertir na xungla! Axuda os animais a atoparen as súas familias. E coidado con estas rás difíciles de atopar.
Description[it]=È un tema pazzoide ambientato nella giungla! Aiuta gli animali a ritrovare la loro famiglia. E stai attento a quelle introvabili rane.
Description[km]=វា​ជា​ពេលវេលា​ដ៏​សប្បាយ​នៅក្នុង​ព្រៃ ! ជួយសត្វ ហើយ​ស្វែងរក​គ្រួសារ​របស់​ពួកវា ។ ហើយ​មើល​ដើម្បី​រក​សត្វ​កង្កែប​ ។
Description[nds]=In'n Dschungel geiht't orrig to kehr! Hölp Deerten dor bi, dat se ehr Familien finnen köönt. Un pass op de doren Poggen op, de laat sik swoor finnen.
Description[nn]=Det er gøy i jungelen! Hjelp dyra å finna familiane sine. Og ver på vakt etter froskane, som er veldig flinke til å gøyma seg.
Description[pt]=Temos um tempo de diversão na selva! Ajude os animais a encontrar as suas famílias. E cuidado com os sapos difíceis de encontrar.
Description[pt_BR]=É hora de diversão na selva! Ajude os animais a encontrar suas famílias. E cuidado com os sapos difícies de encontrar.
Description[ru]=В джунглях наступило весёлое время! Помогите животным найти их сородичей. И почему так тяжело найти лягушек?
Description[sl]=V džungli je čas za zabavo! Pomagajte živalim in njihovim družinam. Posebno pozorni bodite na izmikajoče žabe.
Description[sr]=Време забаве је у џунгли. Помозите животињама да пронађу своје породице. Пазите на оне ретке жабице.
Description[sr@latin]=Vreme zabave je u džungli. Pomozite životinjama da pronađu svoje porodice. Pazite na one retke žabice.
Description[sv]=Det är en kul tid i djungeln! Hjälp djuren hitta sina familjer, och håll utkik efter de där svårfunna grodorna.
Description[uk]=Розваги у джунглях! Допоможіть тваринам знайти свої сім’ї. І будьте обережними: там можуть бути жаби.
Description[x-test]=xxIt is a fun time in the jungle! Help animals find their families. And watch out for those hard to find frogs.xx
Description[zh_CN]=现在是动物之森的快乐时间。您要帮助小动物们找到各自的家庭，要留心那些不显眼的青蛙。
Description[zh_TW]=有趣的叢林探險遊戲！幫忙動物們找到它們的家。要注意那些不易發現的青蛙。
FileName=funny_zoo.svgz
Author=Eugene Trounev, Sean Wilson
AuthorEmail=eugene.trounev@gmail.com
Preview=funny_zoo.png

# number of frames in the "remove" animation
RemoveAnimFrames=0
# this theme has a border to display around the board
HasBorder=1
# how many percent of each dimension of the board background contain the border graphics (0.05 means: the upper 5%, the lower 5%, the left 5%, and the right 5% of the board background are the border)
BorderPercentage=0.02
