[Desktop Entry]
Type=Application
Exec=kdiamond -caption "%c"
Name=KDiamond
Name[sv]=Kdiamond
GenericName=Three-in-a-row game
GenericName[sv]=Tre-i-rad spel
Terminal=false
Icon=kdiamond
X-KDE-StartupNotify=true
Categories=Qt;KDE;Game;LogicGame;
