[Desktop Entry]
Type=Application
Exec=kdiamond -caption "%c"
Name=KDiamond
Name[fa]=جواهرات
Name[hne]=केडायमंड
Name[nds]=KDiamant
Name[nn]=KDiamantar
Name[ro]=KDiamant
Name[sr]=К‑дијамант
Name[sr@latin]=K‑dijamant
Name[sv]=Kdiamant
Name[uk]=КДіамант
Name[x-test]=xxKDiamondxx
Name[zh_TW]=KDiamond 寶石方塊
GenericName=Three-in-a-row game
GenericName[ca]=Joc de tres en fila
GenericName[da]=Tre på række-spil
GenericName[de]=Drei-Gewinnt-Spiel
GenericName[el]=Παιχνίδι τριάδων
GenericName[es]=Juego de tablero tres en línea
GenericName[et]=Kolm ritta mäng
GenericName[fa]=بازی «سه در یک سطر»
GenericName[fi]=Kolmen suora
GenericName[fr]=Jeu trois-en-ligne
GenericName[ga]=Cluiche boird trí-cinn-as-a-chéile
GenericName[gl]=Xogo tres en raia
GenericName[hne]=एक लकीर मं तीन वाले खेल
GenericName[hu]=Táblás játék
GenericName[it]=Gioco del tris
GenericName[ja]=三目並べ
GenericName[km]=ល្បែង​ក្ដារ បី​​ក្នុង​មួយ​ជួរដេក
GenericName[lv]=Galda spēle trīs-rindā
GenericName[nds]="Dree op de Reeg"-Speel
GenericName[nl]=Drie-op-een-rij bordspel
GenericName[nn]=Tre-på-rad-spel
GenericName[pl]=Gra planszowa "Trzy w rzędzie"
GenericName[pt]=Jogo de três-em-linha
GenericName[pt_BR]=Jogo Lógico Três em Linha 
GenericName[ro]=Un joc Trei-în-rînd
GenericName[ru]=Три-в-ряд
GenericName[sl]=Namizna igra tri v vrsto
GenericName[sr]=Игра „три у низу“
GenericName[sr@latin]=Igra „tri u nizu“
GenericName[sv]=Tre-i-rad spel
GenericName[tr]=Bir satırda üç oyunu
GenericName[uk]=Гра у три в рядок
GenericName[x-test]=xxThree-in-a-row gamexx
GenericName[zh_CN]=三子连线棋游戏
GenericName[zh_TW]=把三個相同的寶石連成一線
Terminal=false
Icon=kdiamond
X-KDE-StartupNotify=true
Categories=Qt;KDE;Game;LogicGame;
X-DocPath=kdiamond/index.html
